<div class="about-me">
  <div class="photo">
    <img src="./../../../assets/img/danielGather.webp" alt="" />
  </div>
  <div class="move-right-container">
    <p style="color: #3dcfb6; font-size: 24px">Who I Am</p>
    <div class="right-container">
      <h2>About me</h2>
      <span
        >Hi, I'm a german speaking Frontend Developer based in Düsseldorf.
        Motivated by the limitless opportunities within IT, I am exited about
        crafting visually captivating and intuitive websites and
        applicatinons.</span
      >
      <div class="single-container">
        <img src="./../../../assets/img/location.webp" alt="" />
        <p>
          Flexible in terms of working environments, I can work effectively both
          on-site in Düsseldorf and remotely.
        </p>
      </div>
      <div class="single-container">
        <img src="./../../../assets/img/cognition.webp" alt="" />
        <p>
          I am open-minded and always looking for personal challenges to
          constantly improve my knowledge and skills.
        </p>
      </div>
      <div class="single-container">
        <img
          style="align-self: start"
          src="./../../../assets/img/new_releases.webp"
          alt=""
        />
        <p>
          Im my profession, programming isn't just about writing code; it's a
          creative from of probem-solving. I take pride in my ability to distill
          complex technical challenges into simple, user-friendly solutions.
          This way, I help you achieve your goals and bring your vison to life.
        </p>
      </div>
    </div>
  </div>
</div>
