<div
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-delay="0"
  data-aos-duration="1500"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="bottom"
  id="aboutMe"
  class="about-me"
>
  <div class="photo">
    <img
      class="hatching"
      src="./../../../assets/img/background-hatching.webp"
      alt=""
    />
    <img src="./../../../assets/img/danielGather.webp" alt="" />
  </div>
  <div class="move-right-container">
    <p style="color: #3dcfb6; font-size: 24px">
      {{ "aboutMeComponent.whoIAm" | translate }}
    </p>
    <div class="right-container">
      <h2>{{ "aboutMeComponent.title" | translate }}</h2>
      <span>{{ "aboutMeComponent.aboutMe" | translate }}</span>
      <div class="single-container">
        <img src="./../../../assets/img/location.webp" alt="" />
        <p>
          {{ "aboutMeComponent.basedIn" | translate }}
        </p>
      </div>
      <div class="single-container">
        <img src="./../../../assets/img/cognition.webp" alt="" />
        <p>
          {{ "aboutMeComponent.challenges" | translate }}
        </p>
      </div>
      <div class="single-container">
        <img
          style="align-self: start"
          src="./../../../assets/img/new_releases.webp"
          alt=""
        />
        <p>
          {{ "aboutMeComponent.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
