@import "./../../../variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

.impressum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: $main-color;
  font-family: $font-karla;
  gap: 0.5rem;
  overflow-wrap: break-word;
  h2 {
    font-family: $font-fira;
  }
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  padding-left: 4rem;
  padding-right: 4rem;
  background: linear-gradient(
    45deg,
    $start-color 0%,
    $start-color 45%,
    $end-color 70%,
    $end-color 100%
  );
}
