@import "../../../variables.scss";
@import "../../../mixin.scss";

.aboveTheFold {
  @include dFlex($ai: unset);
  height: calc(100vh - 100px);
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.left-container {
  @include dFlex($jc: unset, $g: 2rem);
  flex-direction: column;
  padding-top: 500px;
  padding-bottom: 16px;
  width: 5%;
  height: 100%;
  img {
    width: 30px;
    height: 48px;
  }
}

.middle-container {
  @include dFlex($g: 1.5rem);
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: $font-karla;
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.right-container {
  @include dFlex($jc: unset, $g: 1rem);
  flex-direction: column;
  color: white;
  font-family: $font-karla;
  padding: 20rem 0rem 1rem 0rem;
  a {
    width: 100%;
    width: 32px;
    height: 32px;
    // padding-left: 16px;
  }
  p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  :hover {
    color: $main-color;
  }
  img {
    object-fit: cover;
  }
  :hover {
    cursor: pointer;
  }
}

.stroke {
  background-color: $main-color;
  border: none;
  height: 100%;
  width: 1px;
}

.buttons {
  @include dFlex($jc: unset, $ai: unset, $g: 1rem);
  height: 48px;

  button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    min-width: 150px;
    background-color: transparent;
    color: white;

    p {
      text-shadow: 0 0 1px $main-color, 32ch 0 1px $main-color;
      font-family: $font-karla;
      font-size: 18px;
    }
    overflow: hidden;
  }
  :hover {
    border-color: $main-color;
    color: transparent;
    transition: border-color 1s ease-in-out;

    p {
      transition: text-shadow 4s ease-in-out;
      animation: moveButtonText 2s linear infinite;
    }
  }
}

.standardGitHub {
  display: flex;
}

.hoverGitHub {
  display: none;
}

.mail {
  display: none;
}

@keyframes moveButtonText {
  to {
    text-shadow: -32ch 0 1px $main-color, 0ch 0 1px $main-color;
  }
}

@media (max-width: 700px) {
  .mail {
    display: unset;
  }
  .fullMail {
    display: none;
  }
  .middle-container {
    display: flex;
    h1 {
      font-size: 62px;
    }
    h2 {
      font-size: 24px;
    }
  }
}
