<div class="aboveTheFold">
  <div class="left-container">
    <img src="../../../assets/img/arrowDown.webp" alt="" />
    <div class="stroke"></div>
  </div>
  <div class="middle-container">
    <h2>Frontend Developer</h2>
    <h1>Daniel Gather</h1>
    <div class="buttons">
      <button><p>Check my work</p></button>
      <button><p>Contact me</p></button>
    </div>
  </div>
  <div class="right-container">
    <p>gather.daniel&#64;yahoo.de</p>
    <a target="_blank" href="https://github.com/DanielGather">
      <img
        (mouseover)="changeImage('github')"
        (mouseleave)="resetImage('github')"
        [src]="githubImage"
        class="standardGitHub"
        alt=""
      />
    </a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/daniel-gather-4a14b527b/"
      ><img
        (mouseover)="changeImage('linkedIn')"
        (mouseleave)="resetImage('linkedIn')"
        [src]="linkedInImage"
    /></a>

    <div class="stroke"></div>
  </div>
  <app-banner
    style="
      position: absolute;
      bottom: 5rem;
      display: flex;
      justify-content: center;
      width: 115%;
    "
  ></app-banner>
  <!-- <div class="banner">
    <p>Frontend Developer</p>
    <p>&middot;</p>
    <p>Based in Mönchengladbach</p>
    <p>&middot;</p>
    <p>Avaiable for remote work</p>
    <p>&middot;</p>
    <p>Open to work</p>
    <p>&middot;</p>
  </div> -->
</div>
