@import "./../../../mixin.scss";
@import "./../../../variables.scss";

.full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: 500px;
  color: $main-color;
  font-family: $font-karla;
  > p:first-child {
    font-size: 32px;
    font-weight: 700;
  }
}

.feedback-container {
  display: flex;
  gap: 3rem;
}

.colleaguesName {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    display: flex;
    white-space: nowrap;
  }
}

.stroke {
  width: 100%;
  height: 1px;
  background-color: white;
}

.active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-fira;
  font-size: 18px !important;
  color: white;
  background-color: #26524b;
  border: 1px solid $main-color;
  border-radius: 2rem;
  padding: 2rem;
  min-width: 750px;
  height: 250px;
}

.quotes {
  position: absolute;
  top: -10px;
  left: -50px;
}

.notActive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-fira;
  font-size: 18px !important;
  color: white;
  background-color: #26524b;
  border: 1px solid $main-color;
  border-radius: 2rem;
  padding: 2rem;
  min-width: 750px;
  height: 250px;
  opacity: 0.6;
  scale: 0.95;
  filter: blur(2.5px);
}

.slider-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  .svg-right {
    transition: transform 0.3s ease-in-out;
  }
  .svg-left {
    transition: transform 0.3s ease-in-out;
  }
  button {
    background-color: transparent;
    border: none;
  }
  :hover {
    cursor: pointer;
    stroke: $main-color;
    .svg-right {
      transform: translateX(5px);
    }
    .svg-left {
      transform: translateX(-5px);
    }
  }
}
