@import "./../../../mixin.scss";
@import "./../../../variables.scss";

.full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  // height: 500px;
  color: $main-color;
  font-family: $font-karla;
  > p:first-child {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
}

.feedback-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.colleaguesName {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    display: flex;
    white-space: nowrap;
  }
}

.stroke {
  width: 100%;
  height: 1px;
  background-color: white;
}

.move-left {
  transition: transform 0.3s ease-in-out;
}

.move-left {
  transform: translateX(798px);
}

.move-right {
  transition: transform 0.3s ease-in-out;
}

.move-right {
  transform: translateX(-798px);
}

.reset-position {
  transition: transform 0.3s ease-in-out;
}

.reset-position {
  transform: translateX(0px);
}

.quotes {
  position: absolute;
  top: -10px;
  left: -50px;
}

.active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-karla;
  font-size: 18px !important;
  color: white;
  background-color: #26524b;
  border: 1px solid $main-color;
  border-radius: 2rem;
  padding: 2rem;
  min-width: 750px;
  height: 250px;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 850px) {
  .move-left {
    transform: translateX(760px);
  }
  .move-right {
    transform: translateX(-760px);
  }
  .feedback-container {
    gap: clamp(0.5rem, 2vw, 3rem);
    font-size: 18px;
    align-items: center;
  }
  .active {
    min-width: clamp(280px, 80vw, 750px);
    height: 350px;
    p {
      margin: auto;
      text-align: center;
    }
  }
  .notActive {
    min-width: clamp(280px, 80vw, 750px);
  }
  .colleaguesName {
    font-size: 16px !important;
  }
  .quotes {
    left: 0px;
  }
}

.notActive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-karla;
  font-size: 18px !important;
  color: white;
  background-color: #26524b;
  border: 1px solid $main-color;
  border-radius: 2rem;
  padding: 2rem;
  min-width: 750px;
  height: 250px;
  opacity: 0.6;
  scale: 0.95;
  filter: blur(2.5px);
}

.slider-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  .svg-right {
    transition: transform 0.3s ease-in-out;
  }
  .svg-left {
    transition: transform 0.3s ease-in-out;
  }
  button {
    background-color: transparent;
    border: none;
  }
  :hover {
    cursor: pointer;
    stroke: $main-color;
    .svg-right {
      transform: translateX(5px);
    }
    .svg-left {
      transform: translateX(-5px);
    }
  }
}

@media (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
