<app-header></app-header>
<div class="privacy-policy">
  <h1 class="adsimple-312965916">
    {{ "privacyPolicy.title" | translate }}
  </h1>
  <h2 id="einleitung-ueberblick" class="adsimple-312965916">
    {{ "privacyPolicy.introduction" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.introductionText" | translate }}
    <a
      class="adsimple-312965916"
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=312965916#d1e2269-1-1"
      target="_blank"
      rel="noopener"
      >{{ "privacyPolicy.introductionText2" | translate }}</a
    >
    {{ "privacyPolicy.introductionText3" | translate }}<br />
    <strong class="adsimple-312965916">{{
      "privacyPolicy.strongText" | translate
    }}</strong>
    {{ "privacyPolicy.shortInformation" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.longInformation" | translate }}<br />
    {{ "privacyPolicy.longInformation2" | translate }}
  </p>
  <h2 id="anwendungsbereich" class="adsimple-312965916">
    {{ "privacyPolicy.areaOfApplication" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.areaOfApplicationText" | translate }}
  </p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list1" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list2" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list3" | translate }}
    </li>
  </ul>
  <p>
    <strong class="adsimple-312965916">{{
      "privacyPolicy.list4strong" | translate
    }}</strong>
    {{ "privacyPolicy.strongTextList" | translate }}
  </p>
  <h2 id="rechtsgrundlagen" class="adsimple-312965916">
    {{ "privacyPolicy.legalBasis" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.legalBasisText1" | translate }}<br />
    {{ "privacyPolicy.legalBasisText2" | translate }}
    <a
      class="adsimple-312965916"
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679"
      >https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a
    >
    {{ "privacyPolicy.legalBasisText3" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.legalBasisText4" | translate }}
  </p>
  <ol>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText5" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText6" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText7" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText8" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText9" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText10" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916"
        >{{ "privacyPolicy.legalBasisText11" | translate }}
      </strong>
      {{ "privacyPolicy.legalBasisText12" | translate }}
    </li>
  </ol>
  <p>
    {{ "privacyPolicy.legalBasisText13" | translate }}
  </p>
  <p>{{ "privacyPolicy.legalBasisText14" | translate }}</p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      In
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasicText15" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasicText16" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.legalBasicText17" | translate }}
    </li>
  </ul>
  <p>
    {{ "privacyPolicy.legalBasicText18" | translate }}
  </p>
  <h2 id="kontaktdaten-verantwortliche" class="adsimple-312965916">
    {{ "privacyPolicy.contactDetails1" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.contactDetails2" | translate }}:<br />
    <span class="adsimple-312965916" style="font-weight: 400"
      >{{ "privacyPolicy.contactDetails3" | translate }}<br />
      {{ "privacyPolicy.contactDetails4" | translate }}<br />
      {{ "privacyPolicy.contactDetails5" | translate }}</span
    >
  </p>
  <p>
    {{ "privacyPolicy.contactDetails6" | translate }}
    <a href="mailto:gather.daniel@yahoo.de">{{
      "privacyPolicy.contactDetails7" | translate
    }}</a>
    <br />
    Telefon:
    <a href="tel:+49 1520 1816528">{{
      "privacyPolicy.contactDetails8" | translate
    }}</a>
    <br />
    {{ "privacyPolicy.contactDetails9" | translate }}
    <a href="https://daniel-gather.de/legal-notice">{{
      "privacyPolicy.contactDetails10" | translate
    }}</a>
  </p>
  <h2 id="speicherdauer" class="adsimple-312965916">
    {{ "privacyPolicy.contactDetails11" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.contactDetails12" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.contactDetails13" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.contactDetails14" | translate }}
  </p>
  <h2 id="rechte-dsgvo" class="adsimple-312965916">
    {{ "privacyPolicy.contactDetails15" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.contactDetails16" | translate }}
  </p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails17" | translate }}
      <ul class="adsimple-312965916">
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails18" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails19" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails20" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails21" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails22" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails23" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails24" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails25" | translate }}
        </li>
      </ul>
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails26" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails27" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails28" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails29" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails30" | translate }}
      <ul class="adsimple-312965916">
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails31" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails32" | translate }}
        </li>
        <li class="adsimple-312965916">
          {{ "privacyPolicy.contactDetails33" | translate }}
        </li>
      </ul>
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails34" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.contactDetails35" | translate }}
    </li>
  </ul>
  <p>
    <strong class="adsimple-312965916">{{
      "privacyPolicy.contactDetails36"
    }}</strong>
    {{ "privacyPolicy.contactDetails37" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.contactDetails38" | translate }}
    <a
      class="adsimple-312965916"
      href="https://www.dsb.gv.at/?tid=312965916"
      target="_blank"
      rel="noopener"
      >https://www.dsb.gv.at/</a
    >
    {{ "privacyPolicy.contactDetails39" | translate }}
    <a
      class="adsimple-312965916"
      href="https://www.bfdi.bund.de/DE/Home/home_node.html"
      target="_blank"
      rel="noopener"
      >{{ "privacyPolicy.contactDetails40" | translate }}</a
    >
    {{ "privacyPolicy.contactDetails41" | translate }}
  </p>
  <h2 id="nordrhein-westfalen-datenschutzbehoerde" class="adsimple-312965916">
    {{ "privacyPolicy.contactDetails42" | translate }}
  </h2>
  <p>
    <strong class="adsimple-312965916">{{
      "privacyPolicy.contactDetails43" | translate
    }}</strong>
    Bettina Gayk<br />
    <strong class="adsimple-312965916">{{
      "privacyPolicy.contactDetails45" | translate
    }}</strong
    >Kavalleriestraße 2-4, 40213 Düsseldorf<br />
    <strong class="adsimple-312965916">{{
      "privacyPolicy.contactDetails47" | translate
    }}</strong>
    02 11/384 24-0<br />
    <strong class="adsimple-312965916">{{
      "privacyPolicy.contactDetails48" | translate
    }}</strong>
    <a
      class="adsimple-312965916"
      href="mailto:poststelle@ldi.nrw.de"
      target="_blank"
      rel="follow noopener"
      >poststelle&#64;ldi.nrw.de</a
    >
    <br />
    <strong class="adsimple-312965916">Website: </strong>
    <a
      class="adsimple-312965916"
      href="https://www.ldi.nrw.de/?tid=312965916"
      target="_blank"
      rel="noopener"
      >https://www.ldi.nrw.de/</a
    >
  </p>
  <p>{{ "privacyPolicy.contactDetails50" | translate }}</p>
  <p style="margin-top: 15px">
    {{ "privacyPolicy.contactDetails51" | translate }}
    <a
      href="https://www.adsimple.de/datenschutz-generator/"
      title="Datenschutzerklärung Generator Deutschland"
      >{{ "privacyPolicy.contactDetails52" | translate }}</a
    >
    {{ "privacyPolicy.contactDetails53" | translate }}
    <a
      href="https://www.adsimple.de/muster-datenschutzerklaerung/"
      title="Muster Datenschutzerklärung"
      >{{ "privacyPolicy.contactDetails54" | translate }}</a
    >
    {{ "privacyPolicy.contactDetails55" | translate }}
  </p>
</div>
<app-footer></app-footer>
