<app-header></app-header>
<div class="privacy-policy">
  <h1 class="adsimple-312965916">
    {{ "privacyPolicy.title" | translate }}
  </h1>
  <h2 id="einleitung-ueberblick" class="adsimple-312965916">
    {{ "privacyPolicy.introduction" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.introductionText" | translate }}
    <a
      class="adsimple-312965916"
      href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=312965916#d1e2269-1-1"
      target="_blank"
      rel="noopener"
      >{{ "privacyPolicy.introductionText2" | translate }}</a
    >
    {{ "privacyPolicy.introductionText3" | translate }}<br />
    <strong class="adsimple-312965916">{{
      "privacyPolicy.strongText" | translate
    }}</strong>
    {{ "privacyPolicy.shortInformation" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.longInformation" | translate }}<br />
    {{ "privacyPolicy.longInformation2" | translate }}
  </p>
  <h2 id="anwendungsbereich" class="adsimple-312965916">
    {{ "privacyPolicy.areaOfApplication" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.areaOfApplicationText" | translate }}
  </p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list1" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list2" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.list3" | translate }}
    </li>
  </ul>
  <p>
    <strong class="adsimple-312965916">{{
      "privacyPolicy.list4strong" | translate
    }}</strong>
    {{ "privacyPolicy.strongTextList" | translate }}
  </p>
  <h2 id="rechtsgrundlagen" class="adsimple-312965916">
    {{ "privacyPolicy.legalBasis" | translate }}
  </h2>
  <p>
    {{ "privacyPolicy.legalBasisText1" | translate }}<br />
    {{ "privacyPolicy.legalBasisText2" | translate }}
    <a
      class="adsimple-312965916"
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679"
      >https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a
    >
    {{ "privacyPolicy.legalBasisText3" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.legalBasisText4" | translate }}
  </p>
  <ol>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText5" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText6" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText7" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText8" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasisText9" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasisText10" | translate }}
    </li>
    <li class="adsimple-312965916">
      <strong class="adsimple-312965916"
        >{{ "privacyPolicy.legalBasisText11" | translate }}
      </strong>
      {{ "privacyPolicy.legalBasisText12" | translate }}
    </li>
  </ol>
  <p>
    {{ "privacyPolicy.legalBasisText13" | translate }}
  </p>
  <p>{{ "privacyPolicy.legalBasisText14" | translate }}</p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      In
      <strong class="adsimple-312965916">{{
        "privacyPolicy.legalBasicText15" | translate
      }}</strong>
      {{ "privacyPolicy.legalBasicText16" | translate }}
    </li>
    <li class="adsimple-312965916">
      {{ "privacyPolicy.legalBasicText17" | translate }}
    </li>
  </ul>
  <p>
    {{ "privacyPolicy.legalBasicText18" | translate }}
  </p>
  <h2 id="kontaktdaten-verantwortliche" class="adsimple-312965916">
    Kontaktdaten des Verantwortlichen
  </h2>
  <p>
    Sollten Sie Fragen zum Datenschutz oder zur Verarbeitung personenbezogener
    Daten haben, finden Sie nachfolgend die Kontaktdaten des Verantwortlichen
    gemäß Artikel 4 Absatz 7 EU-Datenschutz-Grundverordnung (DSGVO):<br />
    <span class="adsimple-312965916" style="font-weight: 400"
      >Daniel Gather<br />
      Geneschen 73<br />
      41366 Schwalmtal</span
    >
  </p>
  <p>
    E-Mail:
    <a href="mailto:gather.daniel@yahoo.de">gather.daniel&#64;yahoo.de</a>
    <br />
    Telefon: <a href="tel:+49 1520 1816528">+49 1520 1816528</a>
    <br />
    Impressum:
    <a href="https://daniel-gather.de/legal-notice"
      >https://daniel-gather.de/legal-notice</a
    >
  </p>
  <h2 id="speicherdauer" class="adsimple-312965916">Speicherdauer</h2>
  <p>
    Dass wir personenbezogene Daten nur so lange speichern, wie es für die
    Bereitstellung unserer Dienstleistungen und Produkte unbedingt notwendig
    ist, gilt als generelles Kriterium bei uns. Das bedeutet, dass wir
    personenbezogene Daten löschen, sobald der Grund für die Datenverarbeitung
    nicht mehr vorhanden ist. In einigen Fällen sind wir gesetzlich dazu
    verpflichtet, bestimmte Daten auch nach Wegfall des ursprüngliches Zwecks zu
    speichern, zum Beispiel zu Zwecken der Buchführung.
  </p>
  <p>
    Sollten Sie die Löschung Ihrer Daten wünschen oder die Einwilligung zur
    Datenverarbeitung widerrufen, werden die Daten so rasch wie möglich und
    soweit keine Pflicht zur Speicherung besteht, gelöscht.
  </p>
  <p>
    Über die konkrete Dauer der jeweiligen Datenverarbeitung informieren wir Sie
    weiter unten, sofern wir weitere Informationen dazu haben.
  </p>
  <h2 id="rechte-dsgvo" class="adsimple-312965916">
    Rechte laut Datenschutz-Grundverordnung
  </h2>
  <p>
    Gemäß Artikel 13, 14 DSGVO informieren wir Sie über die folgenden Rechte,
    die Ihnen zustehen, damit es zu einer fairen und transparenten Verarbeitung
    von Daten kommt:
  </p>
  <ul class="adsimple-312965916">
    <li class="adsimple-312965916">
      Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten
      von Ihnen verarbeiten. Sollte das zutreffen, haben Sie Recht darauf eine
      Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
      <ul class="adsimple-312965916">
        <li class="adsimple-312965916">
          zu welchem Zweck wir die Verarbeitung durchführen;
        </li>
        <li class="adsimple-312965916">
          die Kategorien, also die Arten von Daten, die verarbeitet werden;
        </li>
        <li class="adsimple-312965916">
          wer diese Daten erhält und wenn die Daten an Drittländer übermittelt
          werden, wie die Sicherheit garantiert werden kann;
        </li>
        <li class="adsimple-312965916">
          wie lange die Daten gespeichert werden;
        </li>
        <li class="adsimple-312965916">
          das Bestehen des Rechts auf Berichtigung, Löschung oder Einschränkung
          der Verarbeitung und dem Widerspruchsrecht gegen die Verarbeitung;
        </li>
        <li class="adsimple-312965916">
          dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu
          diesen Behörden finden Sie weiter unten);
        </li>
        <li class="adsimple-312965916">
          die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;
        </li>
        <li class="adsimple-312965916">
          ob Profiling durchgeführt wird, ob also Daten automatisch ausgewertet
          werden, um zu einem persönlichen Profil von Ihnen zu gelangen.
        </li>
      </ul>
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was
      bedeutet, dass wir Daten richtig stellen müssen, falls Sie Fehler finden.
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf
      Vergessenwerden“), was konkret bedeutet, dass Sie die Löschung Ihrer Daten
      verlangen dürfen.
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der
      Verarbeitung, was bedeutet, dass wir die Daten nur mehr speichern dürfen
      aber nicht weiter verwenden.
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 20 DSGVO das Recht auf Datenübertragbarkeit, was
      bedeutet, dass wir Ihnen auf Anfrage Ihre Daten in einem gängigen Format
      zur Verfügung stellen.
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach
      Durchsetzung eine Änderung der Verarbeitung mit sich bringt.
      <ul class="adsimple-312965916">
        <li class="adsimple-312965916">
          Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e
          (öffentliches Interesse, Ausübung öffentlicher Gewalt) oder Artikel 6
          Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen die
          Verarbeitung Widerspruch einlegen. Wir prüfen danach so rasch wie
          möglich, ob wir diesem Widerspruch rechtlich nachkommen können.
        </li>
        <li class="adsimple-312965916">
          Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie
          jederzeit gegen diese Art der Datenverarbeitung widersprechen. Wir
          dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.
        </li>
        <li class="adsimple-312965916">
          Werden Daten verwendet, um Profiling zu betreiben, können Sie
          jederzeit gegen diese Art der Datenverarbeitung widersprechen. Wir
          dürfen Ihre Daten danach nicht mehr für Profiling verwenden.
        </li>
      </ul>
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer
      ausschließlich auf einer automatisierten Verarbeitung (zum Beispiel
      Profiling) beruhenden Entscheidung unterworfen zu werden.
    </li>
    <li class="adsimple-312965916">
      Sie haben laut Artikel 77 DSGVO das Recht auf Beschwerde. Das heißt, Sie
      können sich jederzeit bei der Datenschutzbehörde beschweren, wenn Sie der
      Meinung sind, dass die Datenverarbeitung von personenbezogenen Daten gegen
      die DSGVO verstößt.
    </li>
  </ul>
  <p>
    <strong class="adsimple-312965916">Kurz gesagt:</strong> Sie haben Rechte
    &#8211; zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns
    zu kontaktieren!
  </p>
  <p>
    Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
    Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche in
    sonst einer Weise verletzt worden sind, können Sie sich bei der
    Aufsichtsbehörde beschweren. Diese ist für Österreich die
    Datenschutzbehörde, deren Website Sie unter
    <a
      class="adsimple-312965916"
      href="https://www.dsb.gv.at/?tid=312965916"
      target="_blank"
      rel="noopener"
      >https://www.dsb.gv.at/</a
    >
    finden. In Deutschland gibt es für jedes Bundesland einen
    Datenschutzbeauftragten. Für nähere Informationen können Sie sich an die
    <a
      class="adsimple-312965916"
      href="https://www.bfdi.bund.de/DE/Home/home_node.html"
      target="_blank"
      rel="noopener"
      >Bundesbeauftragte für den Datenschutz und die Informationsfreiheit
      (BfDI)</a
    >
    wenden. Für unser Unternehmen ist die folgende lokale Datenschutzbehörde
    zuständig:
  </p>
  <h2 id="nordrhein-westfalen-datenschutzbehoerde" class="adsimple-312965916">
    Nordrhein-Westfalen Datenschutzbehörde
  </h2>
  <p>
    <strong class="adsimple-312965916"
      >Landesbeauftragte für Datenschutz:</strong
    >
    Bettina Gayk<br />
    <strong class="adsimple-312965916">Adresse: </strong>Kavalleriestraße 2-4,
    40213 Düsseldorf<br />
    <strong class="adsimple-312965916">Telefonnr.:</strong> 02 11/384 24-0<br />
    <strong class="adsimple-312965916">E-Mail-Adresse:</strong>
    <a
      class="adsimple-312965916"
      href="mailto:poststelle@ldi.nrw.de"
      target="_blank"
      rel="follow noopener"
      >poststelle&#64;ldi.nrw.de</a
    >
    <br />
    <strong class="adsimple-312965916">Website: </strong>
    <a
      class="adsimple-312965916"
      href="https://www.ldi.nrw.de/?tid=312965916"
      target="_blank"
      rel="noopener"
      >https://www.ldi.nrw.de/</a
    >
  </p>
  <p>Alle Texte sind urheberrechtlich geschützt.</p>
  <p style="margin-top: 15px">
    Quelle:
    <a
      href="https://www.adsimple.de/datenschutz-generator/"
      title="Datenschutzerklärung Generator Deutschland"
      >Datenschutzerklärung</a
    >
    erstellt mit dem Datenschutz Generator für Deutschland von AdSimple. Schauen
    Sie sich auch unsere
    <a
      href="https://www.adsimple.de/muster-datenschutzerklaerung/"
      title="Muster Datenschutzerklärung"
      >Muster-Datenschutzerklärung</a
    >
    an.
  </p>
</div>
<app-footer></app-footer>
