<div class="skill-container">
  <div class="technologies">
    <p style="color: #3dcfb6; font-size: 24px">Technologies</p>
    <div class="left-container">
      <h2>Skill set</h2>
      <span
        >A short introduction of your skills. Highlight your experience of using
        different front-end technologies and ephasise your openess to learning
        and adapting new technologies. Show how important it is for you to keep
        up with the rapid change in web development.</span
      >
      <span style="font-weight: 700; font-size: 24px"
        >You need
        <span style="font-weight: 700; font-size: 24px; color: #3dcfb6"
          >another skill?</span
        ></span
      >
      <span
        >Feel free to contact me. I look forward to expanding on my previous
        knowledge.</span
      >
      <div class="button">
        <button><p>Let's Talk</p></button>
      </div>
    </div>
  </div>
</div>
