@import "../variables.scss";
* {
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding-left: 4rem;
  padding-right: 4rem;
  background: linear-gradient(
    45deg,
    $start-color 0%,
    $start-color 45%,
    $end-color 70%,
    $end-color 100%
  );
}

@media (max-width: 500px) {
  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 400px) {
  .page {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
