<div
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-delay="0"
  data-aos-duration="1500"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="center"
  id="contactMe"
  class="container"
>
  <div class="left-container">
    <p>{{ "contactMe.contactMe" | translate }}</p>
    <h2>{{ "contactMe.letsWork" | translate }}</h2>
    <p>{{ "contactMe.gotProblem" | translate }}</p>
    <p>
      {{ "contactMe.description" | translate }}
    </p>
    <br />
    <p>
      {{ "contactMe.needFrontend" | translate }}
      <span>{{ "contactMe.letsTalk" | translate }}</span>
    </p>
  </div>
  <div class="right-container">
    <form
      class="form-container"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <label for="name"
        ><p>{{ "contactMe.yourName" | translate }}</p></label
      >
      <div class="input-containers">
        <input
          #nameModel="ngModel"
          #nameRef
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="{{ 'contactMe.yourNamePlaceholder' | translate }}"
          (blur)="!nameModel.valid ? (applyUserNotification = true) : ''"
          minlength="2"
          required
        />
        @if(applyUserNotification && nameModel.invalid && nameModel.touched){
        <div class="notValid">
          {{ "contactMe.warning.name" | translate }}
        </div>
        }
      </div>

      <label for="email"
        ><p>{{ "contactMe.yourEmail" | translate }}</p></label
      >
      <div class="input-containers">
        <input
          #emailRef
          #emailModel="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="{{ 'contactMe.yourEmailPlaceholder' | translate }}"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          (blur)="!emailModel.valid ? (applyUserNotification = true) : ''"
        />
        @if(applyUserNotification && emailModel.invalid && emailModel.touched){
        <div class="notValid">
          {{ "contactMe.warning.email" | translate }}
        </div>
        }
      </div>

      <label for="message"
        ><p>{{ "contactMe.yourMessage" | translate }}</p>
      </label>
      <div class="input-containers">
        <textarea
          rows="1"
          #textareaRef
          #textareaModel="ngModel"
          [(ngModel)]="contactData.message"
          #message="ngModel"
          name="message"
          id="message"
          placeholder="{{ 'contactMe.yourMessagePlaceholder' | translate }}"
          required
          minlength="5"
          (blur)="!textareaModel.valid ? (applyUserNotification = true) : ''"
        ></textarea>
        @if(applyUserNotification && textareaModel.invalid &&
        textareaModel.touched){
        <div class="notValid">
          {{ "contactMe.warning.message" | translate }}
        </div>
        }
      </div>
      <label class="checkbox-container">
        <input
          class="checkbox"
          type="checkbox"
          id="meine-checkbox"
          [(ngModel)]="privacyAccepted"
          name="privacyPolicy"
        />
        <span class="custom-checkbox"></span>
        <p>
          I've read the
          <span routerLink="/privacy-policy" class="privac-policy"
            >privacy policy</span
          >
          and agree to the processing of my data as outlined
        </p>
      </label>
      <div class="submit-button">
        <button
          type="submit"
          [disabled]="
            !privacyAccepted ||
            textareaModel.invalid ||
            emailModel.invalid ||
            nameModel.invalid
          "
        >
          <p>Say Hello :)</p>
        </button>
        @if(sendComplete){
        <div
          style="
            position: absolute;
            bottom: 45px;
            color: yellow;
            font-size: 18px;
          "
        >
          Email wurd gesendet !
        </div>
        }
      </div>
    </form>
  </div>
</div>
