<div class="container">
  <div class="left-container">
    <p>Contact me</p>
    <h2>Let's work together</h2>
    <p>Got a problem to solve?</p>
    <p>
      Encourage people to contact you and describe what role you are interested
      in. Show that you will add value to their projects through your work.
    </p>
    <br />
    <p>Need a Frontend Developer? <span>Let's talk!</span></p>
  </div>
  <div class="right-container">
    <form
      class="form-container"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <label for="name"><p>What's your name</p></label>
      <input
        #nameModel="ngModel"
        #nameRef
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        [class]="nameIsValid ? '' : 'placeholderRed'"
        [placeholder]="yourName"
        (blur)="
          nameModel.valid ? (nameIsValid = true) : (nameIsValid = false);
          nameRef.placeholder = 'Please enter your name';
          nameRef.value = ''
        "
        minlength="2"
        required
      />
      <ng-template
        #elseBlock
        (click)="nameIsValid = true && nameRef().nativeElement.focus()"
        class="notValid"
        >Please enter your name</ng-template
      >

      <label for="email"><p>What's your email?</p></label>
      <input
        *ngIf="mailIsValid"
        #emailRef
        #emailModel="ngModel"
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="youremail@email.com"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        (blur)="checkMailInput()"
      />
      <span
        (click)="switchToInput('mail')"
        class="notValid"
        *ngIf="!mailIsValid"
        >Hoppla! your email is required</span
      >
      <label for="message"><p>How can I help you?</p> </label>
      <textarea
        *ngIf="textareaIsValid"
        #textareaRef
        #textareaModel="ngModel"
        [(ngModel)]="contactData.message"
        #message="ngModel"
        name="message"
        id="message"
        placeholder="Hello Daniel, I am interested in..."
        required
        minlength="5"
        (blur)="checkTextAreaInput()"
      ></textarea>
      <span
        (click)="switchToInput('textarea')"
        class="notValid"
        *ngIf="!textareaIsValid"
        >What do you need to develop?</span
      >
      <label class="checkbox-container">
        <input
          class="checkbox"
          type="checkbox"
          id="meine-checkbox"
          [(ngModel)]="privacyAccepted"
          name="privacyPolicy"
        />
        <span class="custom-checkbox"></span>
        <p>
          I've read the
          <span>privacy policy</span>
          and agree to the processing of my data as outlinded.
        </p>
      </label>
      <button type="submit" [disabled]="!privacyAccepted">
        <p>Say Hello :)</p>
      </button>
    </form>
  </div>
</div>
