@import "./../../../../mixin.scss";
@import "./../../../../variables.scss";

.all-projects {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  gap: 4rem;
  position: relative;
}

.projects-container {
  width: 100%;
  position: relative;
}
.project {
  @include dFlex($jc: space-between);
  @include font($fs: 24px, $fw: 700, $ff: $font-fira);
  height: 100px;
  border-top: 1px solid $main-color;
  color: white;
  padding: 0rem 1rem 0rem 1rem;
}

.project:hover {
  background-color: #2f5b54;
  cursor: pointer;
}

.left-container {
  @include dFlex($g: 0.5rem);
  img {
    display: none;
    object-fit: cover;
  }
}

.project:hover img {
  display: unset;
}

.technologies {
  @include font($fs: 18px, $ff: $font-karla);
  display: flex;
  gap: 0.5rem;
  & div {
    color: $main-color;
  }
}

.hover-project {
  position: relative;
  width: 100%;
  max-width: 400px;
  img {
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 1rem;
  }
}

.background-hatching {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.project-img-container {
  position: absolute;
}

@media (max-width: 1200px) {
  .all-projects {
    gap: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .hover-project {
    display: none;
  }
}

@media (max-width: 700px) {
  .project {
    flex-direction: column;
    justify-content: center;
    height: 125px;
    gap: 1rem;
    padding: unset;
  }
  .left-container {
    width: 100%;
    justify-content: flex-start;
    font-size: 24px;
    font-family: $font-fira;
  }
  .technologies {
    width: 100%;
    font-size: 16px;
    gap: 0.25rem;
  }
}
