<div class="all-projects">
  <div class="projects-container">
    @for (project of featuredProjects;let index = $index; let last = $last;
    track project){
    <div
      [ngStyle]="{ 'border-bottom': last ? borderColor : '' }"
      [ngClass]="{
        'active-project': project.active,
        'coming-soon': !project.active
      }"
      (click)="openPopup(index)"
      (mouseenter)="hoverProject(project)"
      (mouseleave)="leaveHover(project)"
    >
      <div class="left-container">
        <p>{{ project.projectName }}</p>
        <img src="./../../../../assets/img/arrow_outward.webp" alt="" />
      </div>
      <div class="technologies">
        @for (tech of project.technologyUsed; let last = $last; track tech ){

        <p>{{ tech.technology | translate }}</p>
        @if(!last){
        <div>|</div>
        } }
      </div>
    </div>

    }
  </div>

  <div class="hover-project">
    @for (project of featuredProjects; let first = $first; let last = $last; let
    index = $index; track project){ @if(project.hover){
    <div
      [style.top.px]="first ? 0 : null"
      [style.top.px]="!first && !last ? 50 + (index - 1) * 100 : null"
      [style.bottom.px]="last ? 0 + 200 : null"
      class="project-img-container"
    >
      <img
        class="background-hatching"
        src="./../../../../assets/img/background-hatching.webp"
        alt=""
      />
      <img src="{{ project.imgProject }}" alt="" />
    </div>
    } }
  </div>
  <app-pop-up-window
    *ngIf="activeProject"
    [popupProject]="activeProject"
    (closeDialog)="closePopUp($event)"
    (nextProject)="showNextProject()"
    #popupContainer
  ></app-pop-up-window>
</div>
