.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  p {
    font-size: 20px;
    font-family: "FiraCode";
    color: white;
  }
}
.header-left-container {
  display: flex;
  gap: 1.5rem;
}

// .language {
//   display: flex;
//   align-items: center;
//   // gap: 1rem;
//   width: 100px;
//   height: 32px;
//   border: 1px solid #3dcfb6;
//   border-radius: 1rem;
//   p {
//     font-size: 16px;
//     font-family: "FiraCode";
//   }
// }

// .en {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #3dcfb6;
//   width: 50%;
//   height: 100%;
//   border-radius: 0.8rem;
// }

// .de {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 50%;
//   height: 100%;
//   p {
//     color: #3dcfb680;
//   }
// }
