<div class="header">
  <div class="header-left-container">
    <app-switch-language></app-switch-language>

    <div class="hover-container">
      <a href="#aboutMe">{{ "header.aboutMe" | translate }}</a>
      <p class="point">&middot;</p>
    </div>
    <div class="hover-container">
      <a href="#skills">{{ "header.skills" | translate }}</a>
      <p class="point">&middot;</p>
    </div>
    <div class="hover-container">
      <a href="#projects">{{ "header.projects" | translate }}</a>
      <p class="point">&middot;</p>
    </div>
  </div>

  <p class="outline">Daniel<br />Gather</p>
  <div class="burger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
