<div class="footer">
  <div class="left-container">
    <p>Daniel Gather</p>
    <p>Web Developer</p>
    <p>Mönchengladbach Germany</p>
  </div>
  <p class="copyright" style="color: #3dcfb6; font-family: FiraCode">
    © Daniel Gather 2025
  </p>
  <div class="right-container">
    <ul>
      <li>
        <a target="_blank" href="https://github.com/DanielGather">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/daniel-gather-4a14b527b/"
          >LinkedIn</a
        >
      </li>
      <li><a href="">Email</a></li>
      <li><a href="">Legal Notice</a></li>
    </ul>
  </div>
</div>
