<div
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-delay="0"
  data-aos-duration="1500"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="center"
  id="projects"
  class="projects"
>
  <div>
    <p>Portfolio</p>
    <h2>{{ "projects.featuredProjects" | translate }}</h2>
    <p
      [innerHTML]="'projects.description' | translate"
      style="color: white; font-size: 18px"
    ></p>
  </div>
  <app-project [featuredProjects]="Projects"></app-project>
</div>
