@import "./../../../mixin.scss";
@import "./../../../variables.scss";

.projects {
  color: $main-color;
  font-family: $font-karla;
  font-size: 24px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  h2 {
    font-family: $font-fira;
    font-size: 64px;
  }
}

@media (max-width: 400px) {
  .projects {
    h2 {
      font-size: 54px;
    }
  }
}
